

<form>
    <h1 style="margin-left:25%;" >Proveedor Creado </h1>
    <div class="form-group">
        <div style="width:80%;margin:0% auto;">
            <h3>Nombre:</h3>
            <li class="list-group-item">
                <%= @provider.nombre%>
            </li>
            
        </div>
        <div class="form-group" style="width:80%;margin:0% auto;">
            <h3>Telefono:</h3>
            <li class="list-group-item">
                <%= @provider.telefono%>
            </li>
           
        </div>
        <div style="width:80%;margin:0% auto;">
            <h3 >Empresa:</h3>
            <li class="list-group-item">
                <%= @provider.empresa%>
            </li>
        </div>
        <div style="width:80%;margin:0% auto;">
            <h3>Ruc:</h3>
            <li class="list-group-item">
                <%= @provider.ruc_empresa%>
            </li>
        </div>
    </div>

</form>