<div class="container">
    <div class="row ">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-body">
                        <fieldset>
                            <h1>Nuevo Cliente</h1>

                            <%= render 'form', client: @client %>

                                <%= link_to 'Back', clients_path , class: "btn btn-primary "%>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

