html,body{
    margin: 0px;
    font-family: 'Open sans',sans-serif;  
}

a,a:visited{
    color: inherit !important;
    text-decoration: none;
}
#logo{
    font-size: 1.2em;
}
.no-margin{
    margin: 0px;
}
.be-red{
    background-color: #e74c3c;
}
.white{
    color: #ECF0F1;
}
.large-padding{
    padding: 8px 5px;
}
.field{
    margin-top: 1em;
}
.top-space{
    margin-top:1em;
}
.form-control{
    border: none;
    border-bottom: 1px solid;
    outline: none;
    width: 100%;
    display: block;
    padding: 10px 0px;
    font-size: 1.2em;
}
