// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html,body{
    margin: 0px;  
}
.be-red{
    background-color:  rgb(200,  50, 50);
}
.white{
    color: white;
}
.large-padding{
    padding: 15 px 7 px;
}